*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #131313;
}
::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
	background: #1db954;
}
